APP_ENV=production
APP_NAME=Galactic Auction
DEBUG=false

POSTGRES_PASSWORD=auction
POSTGRES_PASSWORD=auction
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=galactic_production

DB_POOL_SIZE=20
DB_MAX_OVERFLOW=40

SECRET_KEY=fsafZY8aODU8tr6Hl8SHNqxw8RMiqNQxo11nyGgCLjBcEijJTzYWCXQctOSF1FHz
ACCESS_TOKEN_EXPIRE_MINUTES=30
BCRYPT_ROUNDS=12